{% extends "model-page.html" %}
{% load static %}

{% block content %}

<h1>Agendamentos</h1>

<a href="evento/">
    <button type="button">Novo Evento</button>
</a>

<ul>
    {% for evento in eventos %}
        <li>{{ evento.titulo }} - {{ evento.data_evento|date:"d/m/Y H:i" }} 
            {% if evento.local == None %}
                
            {% else %}
                - {{ evento.local }}
            {% endif %}
            | <a href="evento/?id={{ evento.id }}"><button type="button">Editar</button></a> | <a href="evento/delete/{{evento.id}}"><button type="button">Excluir</button></a>
        </li>
    {% empty %}
        <li>Nenhum evento cadastrado</li>
    {% endfor %}
</ul>

{% endblock %}


