{% extends "model-page.html" %}

{% block content %}


<h1 class="mt-5">Aplicativo de Agenda criado com Django</h1>
<p class="lead">Esse aplicativo foi criado usando <a href="https://www.djangoproject.com/">Django</a> para o Back-End e 
    <a href="https://getbootstrap.com/">Booststrap</a> para o Front-End.
    {% comment %}<code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>{% endcomment %}
</p>

<p class="lead">
    Nesse aplicativo você pode:
    <ul class="list-unstyled">
        <ul>
            <li>Criar sua conta de usuário.</li>
            <li>Realizar o login.</li>
            <li>Criar, editar e deletar eventos da sua agenda pessoal.</li>
        </ul>
    </ul>
</p>

<p>Você pode ver todo o código no <a href="https://www.github.com/FredMagas">Repósitorio do Projeto</a>.</p>


{% endblock %}